<!--@todo: add or remove links to static pages-->
<div class="main-menu">
  <a href="{{@blog.url}}/sydney/">Sydney</a><br/>
  <a href="{{@blog.url}}/melbourne/">Melbourne</a><br/>
  <a href="{{@blog.url}}/press/">Press</a><br/>
  <a href="{{@blog.url}}/sponsors/">Sponsors</a><br/>
</div> 