<!--@todo: replace with company social media links-->
<div class="social-media">
  <a href="{{@blog.url}}/rss/" title="RSS Feed"><i class="fa fa-rss-square"></i></a>
  <a href="https://twitter.com/SheHacks" title="Twitter"><i class="fa fa-twitter-square"></i></a>
  <a href="https://github.com/SheHacks" title="GitHub"><i class="fa fa-github-square"></i></a>
</div> 